In [17]:
# Import libraries
import pandas as pd
from pathlib import Path

In [18]:
# Load data
csv_path = Path("../PyBank/Resources/budget_data.csv")

In [19]:
# Setup the read
df = pd.read_csv(csv_path)

In [20]:
# Count records within file
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [21]:
# Calculate the number of months in the dataset
count_month = df['Date'].count()
print(count_month)

86

In [22]:
#Calculate the total amount of profit and losses over the given period
sumpnl = df['Profit/Losses'].sum()
print(sumpnl)

38382578

In [23]:
#Create calculation for the difference between current and prior month performance.
df['difference'] = df['Profit/Losses'].diff()
df.head()

       Date  Profit/Losses  difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [24]:
#Create calculation to identify average month-over-month change in PnL
average = round(df['difference'].mean(),2)
print(average)

-2315.12

In [25]:
#Create calculation to identify both the greatest increase as well as greatest decrease in PnL between prior and current month
greatest_increase = df['difference'].max()
greatest_decrease = df['difference'].min()
print([greatest_increase])
print([greatest_decrease])

[1926159.0]
[-2196167.0]

In [26]:
#Identify index location of greatest increase in profits
df.sort_values(by='difference', ascending=False).head(1)

        Date  Profit/Losses  difference
25  Feb-2012        1170593   1926159.0

In [27]:
#Pull date of greatest increase in profits
great_inc_month = df.loc[25, 'Date']

In [28]:
#Identify index location of greatest decrease in profits
df.sort_values(by='difference', ascending=True).head(1)

        Date  Profit/Losses  difference
44  Sep-2013       -1196225  -2196167.0

In [29]:
#Pull date of greatest decrease in profits
great_dec_month = df.loc[44,'Date']

In [31]:
#Print output of analyzed data
print()
print('Financial Analysis')
print('---------------------')
print('Total Months:', count_month )
print('Total:'  '$', sumpnl)
print('Average Change:' '$', average)
print('Greatest Increase in Profits:' , great_inc_month , '$' , greatest_increase)
print('Greatest Decrease in Profits:' , great_dec_month , '$' , greatest_decrease)

Financial Analysis
---------------------
Total Months: 86
Total:$ 38382578
Average Change:$ -2315.12
Greatest Increase in Profits: Feb-2012 $ 1926159.0
Greatest Decrease in Profits: Sep-2013 $ -2196167.0